* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body, .pure-g [class *="pure-u"] {
    font-family: 'Source Sans Pro', 'KaiTi', '楷体', STKaiti, '华文楷体', sans-serif;
    font-size: 18px;
    line-height: 1.8em !important;
}

.large {
  font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #106;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Indie Flower', "KaiTi", "楷体", STKaiti, "华文楷体", serif;
    text-transform: uppercase;
}
h2 { font-size: 1.8rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


#container {
    background: url(/images/sidebar.jpg) no-repeat left top fixed;
    min-height: 100%;
    padding: 0;
}

.site-header {
    -webkit-box-shadow: 0px 0px 12px 6px rgba( 10, 5, 30, 0.65 );
    -moz-box-shadow: 0px 0px 12px 6px rgba( 10, 5, 30, 0.65 );
    box-shadow: 0px 0px 12px 6px rgba( 10, 5, 30, 0.65 );
    background: rgba( 10, 5, 30, 0.65 );
    color: white;
    padding: 0;
    text-align: center;
    word-wrap: break-word;
}

.site-title {
    display: none;
}

.site-description {
    display: none;
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 1em 3em;
}

.site-navigation {
    background: transparent !important;
    border: 0 !important;
    padding: 1em 0;
}

.site-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-navigation ul li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.site-navigation ul li a {
    background: transparent;
    color: white;
}
.site-navigation ul li a:hover,
.site-navigation ul li a:focus {
    background: rgba( 200, 200, 200, 0.5 );
    text-decoration: none;
}

.site-content {
    background: #fff;
    padding: 2em 1em 0;
}

.post {
}
.post-title {
    margin-bottom: 0.2em;
}

.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-footer {
    padding-bottom: 2em;
}

.site-footer {
    text-align: center;
    padding: 1em 0;
}
.site-footer a {
    color: #888;
    font-size: 90%;
}
.site-footer,
.site-footer .pure-menu a:hover,
.site-footer .pure-menu a:focus {
    background: #fff;
}

.pure-button {
    background: rgba( 10, 5, 30, 0.65 );
    color: white;
    margin: 0 0.25rem;
}

.pure-button-xsmall {
    font-size: 0.75rem;
    padding: 0.25rem;
}

.pure-button-small {
    font-size: 0.85rem;
    padding: 0.25rem;
}

.pure-button-large {
    font-size: 1.1rem;
}

.pure-button-xlarge {
    font-size: 1.25rem;
}

/* ==========================================================================
   Archive Page Styles
   ========================================================================== */

#archive {
    list-style: none;
}

    #archive .year, 
    #archive .month,
    #archive .day {
        color: #606060;
        display: block;
        font-weight: normal;
        margin: 0;
        padding: 18px 0 0;
        text-align: center;
        width: 88px;
    }

    #archive .year {
        font-size: 22px;
        padding: 35px 0 0;
    }
    
    #archive .day {
        display: inline-block;
        padding: 0;
    }

    #archive .category {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      display: inline-block;
      font-size:88%;
      font-weight:bold;
      text-align:center;
      width:55px;
    }
    #archive .category.en {background-color:#d1e4cd;}
    #archive .category.zh {background-color:#e4cdcd;}

@media (min-width: 48em) {
    .site-content,
    .site-footer {
        padding: 2em 4em 0;
        margin-left: 25%;
    }

    .site-header {
        padding-top: 10em;
        position: fixed;
        top: 0;
        bottom: 0;
    }
    
    .site-description {
        display: block;
    }
    
    .site-navigation {
        padding: 1em 0;
    }
    
    .site-navigation ul li {
        display: block;
    }
    
    
}