---
layout: default
---

            <h2 class="page-title">Tags</h2>

            <ul>{% assign tags_list = site.tags %}{% if tags_list.first[0] == null %}{% for tag in tags_list %} 
                <li><a href="#{{ tag }}">{{ tag }}</a></li>{% endfor %}{% else %}{% for tag in tags_list %}<li><a href="#{{ tag[0] }}">{{ tag[0] }}</a></li>{% endfor %}{% endif %}{% assign tags_list = nil %}
            </ul>
            {% for tag in site.tags %} 
            <h3 id="{{ tag[0] }}">{{ tag[0]}}</h3>
            <ul class="post-list">{% assign pages_list = tag[1] %}{% for post in pages_list %}{% if post.title != null %}{% if group == null or group == post.group %}
                <li lang='{{ lang }}'><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="post-meta"><time itemprop='datePublished' content='{{ post.date | date: '%F' }}' datetime='{{ post.date }}'> {{ post.date | date: "%d %b %Y" }}</time></a></li>{% endif %}{% endif %}{% endfor %}{% assign pages_list = nil %}{% assign group = nil %}
            </ul> {% endfor %}