<!doctype html>
<html class="no-js" lang="en">
    
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='robots' content='noindex, nofollow'>

    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name='author' content='{{ site.author }}'>
    <meta name='description' content='{{ site.description }}'>

    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,600italic,400,600|Indie+Flower&subset=latin,latin-ext' type='text/css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel='stylesheet' href='//yui.yahooapis.com/pure/0.5.0/pure-min.css'>
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="{{ '/css/blog.css' | prepend: site.baseurl | prepend: site.url }}">
    
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"> </script>
    <![endif]-->
    
    <link rel='canonical' href='{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}'>
</head>
    
<body>
    <div id='container' class='pure-g'>
        
        <header class='site-header pure-u-1 pure-u-md-1-4'>
            <object type='image/svg+xml' data='{{ site.baseurl | prepend: site.url }}/images/logo.svg' title='{{ site.title }}' name='logo'>Your browser does not support SVG</object>
            <h1 class='site-title'><a href='{{ site.baseurl | prepend: site.url }}/'>{{ site.title }}</a></h1>
            <nav class='site-navigation pure-menu pure-menu-open'>
                <ul> 
                    <li><a {% if page.url == "/index.html" %}class='pure-menu-selected'{% endif %} href='/'>Home</a></li> 
                    <li><a {% if page.url == "/en/index.html" %}class='pure-menu-selected'{% endif %} href='/en/'>English</a></li> 
                    <li><a {% if page.url == "/zh/index.html" %}class='pure-menu-selected'{% endif %} href='/zh/'>中文 (Chinese)</a></li> 
                    <li><a {% if page.url == "/tags/" %}class='pure-menu-selected'{% endif %} href='/tags/'>Tags</a></li>  
                    <li><a {% if page.url == "/archives/" %}class='pure-menu-selected'{% endif %} href='/archives/'>Archives</a></li> 
                </ul>
            </nav>
            <p class="site-description">{{ site.description }}</p>
        </header>


        <main class="site-content pure-u-1 pure-u-md-3-4">
            {{ content }}
        </main>

        <footer class="site-footer pure-u-1 pure-u-md-3-4">
            <ul class='footer-navigation pure-menu pure-menu-open pure-menu-horizontal'>
                <li><a href='{{ site.baseurl | prepend: site.url }}/' title='{{ site.title }}'>Home</a></li>
            </ul>
        </footer>
    </div> 
</body>
</html>
